@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
@include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// CSS Custom Styling Section
.section-border {
  border-bottom: 4px solid #2b14c4;
}

// Website Header Section
$subnav-hero-bg: url("../images/pexels-matheus-bertelli-573299.jpg") 100% no-repeat;

$subnav-hero-link-padding: 0.9rem 1rem;
$subnav-hero-font-size: 1rem;
$subnav-hero-link-opacity: 0.15;
$subnav-hero-height: 100vh;
$subnav-hero-transition: all 0.35s ease-in-out;

.subnav-hero-section {
  text-align: center;
  background: $subnav-hero-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $subnav-hero-height;

  .subnav-hero-headline {
    color: $white;
  }
}

$hero-full-screen-bg: url("../images/pexels-matheus-bertelli-573299.jpg") center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: $white;

.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  .middle-content-section {
    color: $hero-full-screen-text-color;
    margin-top: 15%;
    margin-left: 5%;
    width: 25%;
    font-weight: bolder;
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }

  // Website Header Nav Section

  $topbar-responsive-animation-type: slide-down;

  .topbar-responsive {
    background-color: transparent;
    padding: 1rem 1.5rem;

    .topbar-responsive-logo {
      color: $white;
      vertical-align: middle;
    }

    .menu {
      background-color: transparent;


      li:last-of-type {
        margin-right: 0;
      }

      a {
        color: $white;
        font-weight: bolder;
        transition: color 0.15s ease-in;

        @media screen and (max-width: 39.9375em) {
          padding: 0.875rem 0;
        }
      }

    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.75rem;

      .top-bar-title {
        position: relative;
        width: 100%;

        span {
          position: absolute;
          right: 0;
          border: 1px solid $white;
          border-radius: 5px;
          padding: 0.25rem 0.45rem;
          top: 50%;
          transform: translateY(-50%);

          .menu-icon {
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @include breakpoint(small only) {
    .topbar-responsive-links {
      animation-fill-mode: both;
      animation-duration: 0.5s;
      width: 100%;

      @if $topbar-responsive-animation-type==slide-down {
        animation: slideDown 1s ease-in;
      }

      @else if $topbar-responsive-animation-type==fade-in {
        animation: fadeIn 1s ease-in;
      }

      @else {
        animation: none;
      }
    }
  }
}


//Image Overlay - Ceased Working due to Motion-UI tansitions

$image-hover-wrapper-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
$image-hover-wrapper-transition-delay: 0.25s;
$image-hover-wrapper-banner-width: 75%;
$image-hover-wrapper-banner-topspace: 25%;
$image-hover-wrapper-banner-bg: rgba($neon-blue, 0.8);
$image-hover-wrapper-icon-size: 24px;

.image-hover-wrapper {
  position: relative;

  a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;

    img {
      float: left;
      overflow: hidden;
      width: 100%;
    }

    .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      display: inline;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      z-index: 80;
      transition: $image-hover-wrapper-transition;
      transition-delay: $image-hover-wrapper-transition-delay;

      &:hover {
        opacity: 1;
        transition: $image-hover-wrapper-transition;
      }

      &:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: $image-hover-wrapper-transition;
        transition-delay: $image-hover-wrapper-transition-delay;
      }

      p {
        bottom: 0;
        display: block;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: $image-hover-wrapper-transition;
      }
    }

    .fa {
      font-size: $image-hover-wrapper-icon-size;
    }
  }

  .image-hover-wrapper-banner {
    background-color: $image-hover-wrapper-banner-bg;
    color: $white;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: $image-hover-wrapper-banner-topspace;
    width: $image-hover-wrapper-banner-width;
    z-index: 10;
  }
}

// Hero-Section Cover for each Category and Article pages

$hero-height: 65vh;

// News Section

.student-news-hero {
  background: url("../images/pexels-connor-danylenko-2538122.jpg") top right no-repeat;
  height: $hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.student-news-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    color: $primary-color;
  }

  @media screen and (min-width: 40em) {
    padding-right: 100%;
  }
}

// Culture Section


.culture-hero {
  background: url("../images/pexels-soumil-kumar-735911.jpg") top right no-repeat;
  height: $hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.culture-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    color: $primary-color;
  }

  @media screen and (min-width: 40em) {
    padding-left: 75%;
  }
}

// Education Section


.education-hero {
  background: url("../images/pexels-祝-鹤槐-716281.jpg") top right no-repeat;
  height: $hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.education-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    color: $primary-color;
  }

  @media screen and (min-width: 40em) {
    padding-left: 75%;
  }
}

// About Section

.about-hero {
  background: url("../images/pexels-kendall-hoopes-2901134.jpg") top right no-repeat;
  height: $hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.about-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    color: $primary-color;
  }

  @media screen and (min-width: 40em) {
    padding-left: 75%;
  }
}

.button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

@media screen and (min-width: 40em) {
  padding-left: 50%;
}

// Contact Section

.contact-hero {
  background: url("../images/pexels-leah-kelley-3935702.jpg") top right no-repeat;
  height: $hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.contact-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    color: $primary-color;
  }

  @media screen and (min-width: 40em) {
    padding-left: 75%;
  }
}

.button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

@media screen and (min-width: 40em) {
  padding-left: 50%;
}

//Job Search Section

$hero-search-filter-height: 65vh;

.hero-search-filter {
  background: url('../images/pexels-artem-saranin-1213997.jpg') center center no-repeat;
  height: $hero-search-filter-height;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: flex;
  width: 100%;
  height: $hero-search-filter-height;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-search-filter-menu {
  flex-wrap: wrap;

  @include breakpoint(small only) {
    li {
      flex-basis: 50%;

      a {
        justify-content: center;
      }
    }
  }
}

.hero-search-filter-menu a {
  color: $white;
  font-weight: bold;

  .fa {
    font-size: 1.125rem;
    font-weight: normal;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.hero-search-filter-form {
  display: flex;
  width: 90%;
  background: $white;
  padding: 0.25rem;
  border-radius: 5px;
  align-items: center;

  .divider {
    background-color: $medium-gray;
    width: 1px;
  }

  label {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: $dark-gray;
    font-weight: bold;
  }

  input,
  .button {
    margin-bottom: 0;
  }

  @include breakpoint(small only) {
    width: 95%;
  }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;

  &:focus {
    border: 0;
    box-shadow: none;
  }
}

// Article Section

$large-article-header-color: $white;
$large-article-header-height: rem-calc(500);

.article-title {
  color: black;
}

.article-content {
  padding-top: 5rem;
}


// News Articles

.news-article-header-1 {
  background: url('../images/pexels-artem-beliaikin-929277.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.news-article-header-2 {
  background: url('../images/pexels-karolina-grabowska-4386373.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.news-article-header-3 {
  background: url('../images/pexels-lucian-potlog-3566226.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.news-article-header-4 {
  background: url('../images/pexels-werner-pfennig-6949392.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.news-article-header-5 {
  background: url('../images/pexels-veerasak-piyawatanakul-1170184.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

//Culture Articles

.culture-article-header-1 {
  background: url('../images/pexels-juan-mendez-1536619.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.culture-article-header-2 {
  background: url('../images/pexels-arthouse-studio-4534200.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.culture-article-header-3 {
  background: url('../images/cartoon-landscape.jpeg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

// Education Articles

.education-article-header-1 {
  background: url('../images/pexels-sinitta-leunen-6094844.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.education-article-header-2 {
  background: url('../images/pexels-gabby-k-5634667.jpg') no-repeat center;
  background-size: cover;
  height: $large-article-header-height;
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.large-article-header-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: rem-calc(50);
  left: 0;
  right: 0;

  @include breakpoint(small only) {
    bottom: rem-calc(20);
  }

  .center-container {
    width: 50%;
    margin: 0 auto;

    @include breakpoint(small only) {
      width: 100%;
      padding: 0 rem-calc(20);
    }
  }

  .article-date {
    color: $large-article-header-color;
  }

  .article-title {
    h1 {
      color: $large-article-header-color;
      line-height: rem-calc(50);
      color: $large-article-header-color;
      font-weight: 600;

      @include breakpoint(small only) {
        line-height: rem-calc(30);
      }
    }
  }

  .article-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $large-article-header-color;
    }
  }
}

// Footer Section

$site-footer-bg: #050318;
$site-footer-spacing: 2rem;

.site-footer {
  background: $site-footer-bg;
  color: lighten($site-footer-bg, 40%);
  padding-top: $site-footer-spacing;
  align-items: center;
  justify-content: center;

  a {
    color: $neon-blue;
    font-weight: bolder;
  }

  .column-block {
    margin-bottom: 30px;
  }

  .row {
    margin-bottom: 1rem;
  }

}


// Motion UI
//Transitions
.fade-in {
  @include mui-fade(in, $duration: 2s);
}

.hinge-in {
  @include mui-hinge($state: in,
    $from: top,
    $fade: true,
    $timing: map-get($motion-ui-easings, bounceInOut));
}

//Animations from Motion UI

// Slides in from left
.slide-in-left {
  @include mui-animation(fade, slide($direction: left));
  animation-duration: 2s;
}

// Slides in from right

.slide-in-right {
  @include mui-animation(fade, slide($direction: right));
  animation-duration: 2s;
}

// Slides in from bottom
.slide-in-bottom {
  @include mui-animation(fade, slide($direction: bottom));
  animation-duration: 2s;
}

// Slides in from top
.slide-in-top {
  @include mui-animation(fade, slide($direction: top));
  animation-duration: 2s;
}